:root {
    --background-color: #0b0c10;
    --background-color-light: #0e101a;
    --color-warning: #FAC762;
    --color-positive: #8a78e9;
    --color-negative: #F47960;
    --color-neutral: #6c98ef;
    --color-separator: #29405B;
    --border-color: #45d39d;
}

$background-color: #0b0c10;
$background-color-light: #0e101a;
$icon-color: #1F243D;
$blue: #5c5cff;
$light-blue: #515d87;
$green: #45d39d;
$yellow: #ffc76f;
$red: #ff4949;

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-positive);
    border: 2px solid var(--background-color);
    border-radius: 10px;
}

* {
    font-family: 'Mulish', sans-serif;
}

html {
    height: 100vh;
}

body, #root {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    width: 10% !important;
}

.content {
    width: 90% !important;
}

.tasks-actionbar {
    background-color: $background-color-light;
}

.sidebar-wrapper {

    background-color: $background-color-light;
    text-align: center;

    .sidebar-logo {
        img {
            height: 8rem;
            width: 8.3rem;
        }
    }

    .sidebar-unselected {
        a {
            color: $icon-color;
        }
    }

    .sidebar-selected {

        a {
            color: white;
        }

        i {
            background-color: $green;
        }
    }

}

.wallet-wrapper {

    background-color: $background-color !important;

    .wallets-actionbar {
        background-color: $background-color-light;
    }

    .new-wallet {
        background-color: $blue;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: lighten($blue, 3%);
        }
    }

    .refresh-wallet {
        transition: color 300ms ease-in;

        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }

    .copy-wallet {
        transition: color 300ms ease-in;

        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }

    .external-link {
        transition: color 300ms ease-in;

        &:hover {
            color: $yellow;
            cursor: pointer;
        }
    }

    .delete-wallet {
        transition: color 300ms ease-in;

        &:hover {
            color: $red;
            cursor: pointer;
        }
    }

    .wallet-item {

        .wallet-header {
            color: $light-blue !important;
            font-weight: bold;
            border-bottom: 2px solid $light-blue;
        }

        color: white;

    }

    .wallet {
        &:nth-child(odd) {
            background-color: $background-color-light;
        }
    }

    .wallet-address, .wallet-name, .wallet-action, .wallet-single-balance {
        text-align: center;
    }

    .wallet-balance-text {
        color: var(--color-positive);
    }

    .add-wallet {
        color: white;
        transition: color 300ms ease-in;

        &:hover {
            cursor: pointer;
            color: var(--color-positive);
        }
    }

    .wallet-name-text {
        color: $light-blue;
        font-weight: bold;
    }

    .wallet-balance {
        color: white;
    }
}

.tasks-wrapper {
    background-color: $background-color;

    .new-task {
        background-color: $blue;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: lighten($blue, 3%);
        }
    }

    .start-all-task {
        color: white;
        background-color: $green;
        font-weight: bold;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: darken($green, 3%);
        }
    }

    .stop-all-task {
        color: white;
        background-color: $yellow;
        font-weight: bold;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: darken($yellow, 3%);
        }
    }

    .delete-all-task {
        color: white;
        background-color: $red;

        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: lighten($red, 3%);
        }
    }

    .tasks-header {
        color: $light-blue;
        font-weight: bold;

        .tasks-header-item {
            border-bottom: 2px solid $light-blue;
        }

    }

    .task {
        &:nth-child(odd) {
            background-color: $background-color-light;
        }
    }

    //OLD

    .start-btn {
        transition: color 300ms ease-in;

        &:hover {
            color: $green;
            cursor: pointer;
        }
    }

    .stop-btn {
        transition: color 300ms ease-in;

        &:hover {
            color: $yellow;
            cursor: pointer;
        }
    }

    .edit-btn {
        transition: color 300ms ease-in;

        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }

    .delete-btn {
        transition: color 300ms ease-in;

        &:hover {
            color: $red;
            cursor: pointer;
        }
    }

    .status-inactive {
        color: white;
    }

    .status-starting {
        color: var(--color-warning);
    }

    .status-pending {
        color: var(--color-positive);
    }

    .status-success {
        color: var(--border-color);
    }

    .status-error {
        color: var(--color-negative);
    }

}

.mint-logs-wrapper {

    background-color: $background-color;

    .start-watch {
        color: white;
        background-color: $green;
        font-weight: bold;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: darken($green, 3%);
        }
    }

    .stop-watch {
        color: white;
        background-color: $yellow;
        font-weight: bold;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: darken($yellow, 3%);
        }
    }

    .mint-logs {

        overflow-y: auto;
        overflow-x: hidden;
        height: 37rem;

        color: white;

        .log-item-header {
            color: $light-blue;
            border-bottom: 2px solid $light-blue;
            text-align: center;
            font-weight: bold;
        }

        .log-item {
            text-align: center;

            &:nth-child(odd) {
                background-color: $background-color-light;
            }
        }

    }
}

.settings-wrapper {
    background-color: $background-color;

    .settings {
        background-color: $background-color-light;
    }

    .title {
        font-weight: bold;
        color: white;
    }
}

.opensea-bid-wrapper {
    background-color: $background-color;

    .dropdown-menu {
        max-height: 25rem;
        overflow-y: auto;
    }

    .trait-selected {
        border: 1px solid $green;
    }
}

.os-wrapper {

    background-color: var(--background-color-light);

    .os-tasks {
        height: 38rem;
        background-color: var(--background-color);
        border: 2px solid var(--border-color);
        border-radius: 10px;

        overflow-y: auto;
        overflow-x: hidden;
    }
}

.proxy-wrapper {
    background-color: $background-color;

    .proxy-content {
        max-height: 38rem;
        overflow-y: auto;
    }

    .check {
        color: white;
    }

    .checking {
        color: $yellow;
    }

    .success{
        color: $green;
    }

    .error {
        color: $red;
    }

    .proxy {
        &:nth-child(odd) {
            background-color: $background-color-light !important;
        }
    }

    .add-proxies {
        background-color: $blue;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: lighten($blue, 3%);
        }
    }

    .check-all-proxy {
        color: white;
        background-color: $green;
        font-weight: bold;
        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: darken($green, 3%);
        }
    }

    .delete-all-proxy {
        color: white;
        background-color: $red;

        transition: background-color 300ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: lighten($red, 3%);
        }
    }
}

.modal-content {
    background-color: $background-color !important;

    border: 2px solid $light-blue !important;
    border-radius: 10px !important;;

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    .modal-title {
        color: white;
    }

    .modal-close {
        color: var(--color-negative);

        &:hover {
            cursor: pointer;
        }
    }
}

.project-fetching {
    background-color: $background-color-light;

    .project-success {
        color: $green;
    }

    .project-throttled {
        color: $yellow;
    }

    .project-success {
        color: $green;
    }

    .project-error {
        color: $red;
    }

    .project-finished {
        color: $blue;
    }

    .project-stopped {
        color: $light-blue;
    }

}

.bids {
    background-color: $background-color-light;

    .bid-element {
        text-align: center;
    }

    .bid-not-sent {
        color: $yellow;
    }

    .bid-success {
        color: $green;
    }

    .bid-error {
        color: $red;
    }
}

.bids-content {
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-cancel {
    background-color: $red !important;
    font-weight: bold !important;
    color: white !important;
    transition: background-color 300ms ease-in !important;

    &:hover {
        background-color: lighten($red, 3%) !important;
        color: white !important;
    }
}

.btn-add {
    background-color: $blue !important;
    font-weight: bold !important;;
    color: white !important;;
    transition: background-color 300ms ease-in !important;;

    &:hover {
        background-color: lighten($blue, 3%) !important;;
        color: white !important;
    }

    &:focus {
        outline: none !important;
    }
}

.btn-wallet {
    background-color: $green !important;
    font-weight: bold !important;;
    color: white !important;;
    transition: background-color 300ms ease-in !important;;

    &:hover {
        background-color: lighten($green, 3%) !important;;
        color: white !important;
    }

    &:focus {
        outline: none !important;
    }
}

.dropdown-menu {
    background-color: $background-color-light !important;
    border-color: $light-blue !important;

    .dropdown-item {
        color: white !important;

        &:hover {
            cursor: pointer !important;
            background-color: $light-blue !important;
        }
    }
}

.toast {

    .toast-header {
        background-color: var(--background-color) !important;
        border-bottom: none;
    }

    .toast-body {

        border-bottom-left-radius: 0.3rem !important;
        border-bottom-right-radius: 0.3rem !important;

        background-color: var(--background-color-light) !important;
        color: white;
    }

    .toast-close {
        color: var(--color-negative);
    }

}

.version {
    margin-left: 66rem;
    margin-top: -0.2rem !important;
    color: #9b9b9b;
}

.individual-balance {
    &:hover {
        cursor: pointer;
    }
}

.os-check {
    border: 2px solid var(--color-neutral);
    border-radius: 5px;
    color: white;
    text-align: center;

    .os-header {
        img {
            height: 4rem;
            width: 4rem;
            border: 2px solid white;
            border-radius: 180px;
        }
    }
}

input {
    background-color: $background-color-light !important;
    border-color: $light-blue !important;
    color: white !important;

    &:focus {
        background-color: $background-color-light !important;
        color: white;
        outline: none !important;
    }

}

textarea {
    background-color: $background-color-light !important;
    border-color: $light-blue !important;
    border-radius: 5px;
    color: white;

    &:focus {
        background-color: var(--background-color-light);
        color: white;
        outline: none !important;
    }
}

hr {
    color: $light-blue !important;
}

.task-inactive {
    color: white;
}

.task-pending {
    color: var(--color-positive);
}

.task-success {
    color: var(--border-color);
}

.task-warning {
    color: var(--color-warning);
}

.task-error {
    color: var(--color-negative);
}